@import "tailwindcss";

@font-face {
  font-family: "TahomaBold";
  src: url("/fonts/Tahoma-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Maple";
  src: url("/fonts/Maple-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Tahoma";
  src: url("/fonts/tahoma.ttf") format("truetype");
}

/* Tailwind utility classes */
.font-main {
  font-family: "TahomaBold", sans-serif;
}

.font-secondary {
  font-family: "Maple", sans-serif;
}

.font-third {
  font-family: "Tahoma", sans-serif;
}
